body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    height: 100vh;
    color: #101010;
    font-family: impact;
    letter-spacing: 2px;
}
.main{
    display: block;
    margin: 40px 100px;
}
.usd{
    padding: 7px;
    border-color: #1B4F72;
    border-radius:5px;
}

.taka{
    padding: 7px;
    border-color: #1B4F72;
    border-radius:5px;
}

.usd:focus{
    outline: 0;
    background-color: #AED6F1;
}

.taka:focus{
    outline: 0;
    background-color: #AED6F1;
}